@model Rekreatistika.Models.PlayerViewModels.EditPlayerViewModel

@{
    ViewData["Title"] = "Edit";
}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<h2>Izmijeni podatke igrača</h2>

<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Edit" enctype="multipart/form-data">
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="FlatpickrDateOfBirthFormat" />
            <div class="form-group">
                <label>Ime i prezime</label>
                <input asp-for="@Model.Name" class="form-control"/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="row">
                <div>
                    <label asp-for="@Model.Avatar" class="button info">Odaberi sliku</label>
                    <input asp-for="@Model.Avatar" style="visibility: hidden;" type="file" onchange="readURL(this);">
                </div>
                <div class="avatar-small">
                    <img id="player-image" src="/images/players/@Model.AvatarPath" alt="Image not found" onerror="this.onerror = null;this.src = '/images/player_avatar.png';" class="img-rounded avatar-small"/>
                </div>
            </div>
            <div class="form-group">
                <label>Nadimak</label>
                <input asp-for="@Model.Nickname" class="form-control"/>
            </div>
            <div class="form-group">
                <label>Email</label>
                <input asp-for="@Model.Email" class="form-control"/>
                <span class="light-text">Korisnik koji je registrovan sa ovim email-om će biti u mogućnosti da mjenja informacije ovog igrača.</span>
            </div>
            <div class="form-group">
                <label>Datum rođenja</label>
                <input class="flatpickr" type="text" placeholder="Odaberi datum.." readonly="readonly" id="date-of-birth" name="DateOfBirth">
            </div>

            <div class="form-group">
                <input type="submit" value="Spremi izmjene" class="btn btn-default"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>


@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#player-image')
                        .attr('src', e.target.result)
                        .width(64)
                        .height(64);
                };

                reader.readAsDataURL(input.files[0]);
            }
        }

        var dateOfBirth = $("#FlatpickrDateOfBirthFormat").val();
        options = {
            altInput: true,
            altFormat: "F j, Y",
            dateFormat: "Y-m-d"
        }
        $("#date-of-birth").val(dateOfBirth);
        $("#date-of-birth").flatpickr(options);
        
    </script>
}