@{
    ViewData["Title"] = "O stranici";
}
@*<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<p>@Localizer["Use this area to provide additional information."]</p>
<p>@Localizer["Hello"]</p>*@

@*<b>@ViewData["hello"]</b>*@

<h4>O stranici</h4>
<hr/>
<p style="padding-left: 10px">Rekreatistika je nastala početkom 2019. godine kao mjesto na kojem svi mogu besplatno i detaljno da zapisuju rezultate sa svojih rekreacija. 
    <br/> <br />Za prijedloge i prigovore pišite na milosponj@yahoo.com</p>


